<div style="display: flex; align-items: center; padding: 1em;">
  <h2 class="tui-text_h5" style="margin: 0 1em 0 0 !important;">SGST: Système de Gestion de Stand de Tir</h2>

  <button
    tuiButton
    type="button"
    size="m"
    appearance="outline"
    [routerLink]="['/reservations']"
    class="tui-space_right-2"
  >
    Accueil
  </button>
  <button
    tuiButton
    type="button"
    size="m"
    appearance="outline"
    [routerLink]="['/nouvelle-reservation']"
  >
    Nouvelle Réservation
  </button>
</div>
