<tui-loader
  class="inline-flex"
  [showLoader]="loading"
  [inheritColor]="true"
  [overlay]="true"
>
  <table
    tuiTable
    [columns]="columns"
  >
    <thead>
    <tr tuiThGroup>
      <th tuiTh>Nom</th>
      <th tuiTh>Prénom</th>
      <th tuiTh>Date</th>
      <th tuiTh>Heure</th>
      <th tuiTh>Stand</th>
      <th tuiTh>Pas</th>
      <th tuiTh>Type</th>
      <th tuiTh>Moniteur</th>
      <th tuiTh>Arme</th>
    </tr>
    </thead>
    <tbody
      tuiTbody
      [data]="data"
    >
    <tr
      *ngFor="let item of data"
      tuiTr
    >
      <td
        *tuiCell="'nom'"
        tuiTd
      >
        {{ item.nom }}
      </td>
      <td
        *tuiCell="'prenom'"
        tuiTd
      >
        {{ item.prenom }}
      </td>
      <td
        *tuiCell="'date'"
        tuiTd
      >
        {{ item.date | date }}
      </td>
      <td
        *tuiCell="'heure'"
        tuiTd
      >
        {{ item.heure }}H
      </td>
      <td
        *tuiCell="'stand'"
        tuiTd
      >
        {{ item.stand }}m
      </td>
      <td
        *tuiCell="'pas'"
        tuiTd
      >
        {{ item.pas }}
      </td>
      <td
        *tuiCell="'type'"
        tuiTd
      >
        {{ item.type }}
      </td>
      <td
        *tuiCell="'moniteur'"
        tuiTd
      >
        {{ item.moniteur }}
      </td>
      <td
        *tuiCell="'arme'"
        tuiTd
      >
        {{ item.arme }}
      </td>
    </tr>
    </tbody>
  </table>
</tui-loader>
